.swap-main{
  background: #060619;
  height: 100vh;  
}
/* HEADER */

#main {
  background: #000;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu {
  padding: 30px 0 0 0;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
  color: #fff;
  border-bottom: 1px solid;
  padding-bottom: 10px;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #a8a9b4;
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  margin-bottom: -5px
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 24px;
  padding-right: 8px;
  color: #6f7180;
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
  text-decoration: none;
  color: #fff;
}

.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover>a i {
  color: #149ddd;
}

.nav-item-active{
  background: #149ddd;
  color: #fff;
}

i{
  color: #fff !important
}

i:hover{
  color: #149ddd !important;
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  display: none;
  border: 0;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  background-color: #149ddd;
  color: #fff;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 50px;
  cursor: pointer;
}

@media (max-width: 900px) {
  .swap-main{
    padding-bottom: 50px;
  }

  .mobile-nav-toggle{
    display: none;
  }
}

@media (max-width: 750px) {

  header{
    visibility: hidden;
  }

  .tradeBox{
    width: 95% !important;
  }

  #header {
    left: -300px;
  }

  #main {
    margin-left: 0;
  }

  .mobile-nav-toggle{
    display: block;
    padding: 1em 1.5em 1em 0.65em !important;
  }

  .swap-main{
    margin-left: 0;
  }
}

@media (max-width: 667px) {
  .tradeBox{
    width: 90%;
  }
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

header {
  margin: auto;
  height: 100px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  max-width: 100%;
}

.logo{
  width: 40px;
  height: 40px;
  padding-right: 20px;
}

.eth{
  width: 20px;
  height: 20px;
  padding-right: 10px;

}

.leftH {
  display: flex;
  align-items: center;
  gap: 20px;
}

.rightH {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.headerItem {
  padding: 10px;
  color: #243056;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px; 
  transition: 0.3s;
  display: flex;
  align-items: center;
  background-color: #ececf1;
}

.connectButton {
  cursor: pointer;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  color: white;
  border-radius: 100px;
  font-weight: bold;
  transition: 0.3s;
  border: none;
  outline: none;
}

.mainWindow {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.link {
  text-decoration: none;
  color: white;
}

.tradeBox {
  width: 50%;
  background-color: #161522;
  border: 2px solid #F4F6F8;
  /* box-shadow: 4px 10px 30px #ececf1; */
  min-height: 300px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2em 2em;
  margin: 50px auto 0 auto;
}


.tradeBoxHeader {
  width: 98%;
  color: #000;
  margin-bottom: 10px;
  
}
.tradeBoxHeader h4 {
    color: #16191F;
    font-size: 34px ;
    font-weight: 600;
}
.slippage {
  padding: 0;
  text-align: left;
  color: #16191F;
}
.slippage-options {
  width: 100%;
}
.cog {
  color: #16191F;
  transition: 0.3s;
}

.cog:hover {
  color: white;
  rotate: 90deg;
  cursor: pointer;
}

.switchButton {
  background-color: #149ddd;
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 8px;
  position: absolute;
  top: 80px;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
  color: white;
  border: 3px solid white;
  font-size: 20px;
  padding: 1em;
  transition: 0.3s
}

.dollarAmount {
  position: absolute;
  top: 75px;
  left: 14px;
  font-size: 10px;
  color: #5F6783;
}

.switchButton:hover {
  color: white;
  cursor: pointer;
}

.inputs{
  display: flex;
}

.inputs input {
  height: 60px;
  width: 100%;
  padding: 1em;
  background: transparent;
  outline: unset;
  border: unset;
  color: #fff;
}

.asset-wrapper{
  position: relative;
  width: 100%;
  height: 60px;
  background-color: #1D1C28;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}

.asset-input{
  position: absolute;
  top: -6px;
  left: -6px;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}

.assetOne {
  min-width: 100%;
  height: 100%;
  background-color: transparent;
  color: #51596f;
  display: flex;
  justify-content:space-between;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  font-size: 17px;
  padding: 0 1em
}

.assetTwo {
  min-width: 100%;
  height: 100%;
  background-color: transparent;
  color: #51596f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  font-size: 17px;
  padding: 0 1em;
}

.assetOne:hover{
  cursor: pointer;
}

.assetTwo:hover{
  cursor: pointer;
}

.assetLogo {
  height: 22px;
  margin-left: 5px;
}

.swapButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #149ddd; 
  width: calc(100%);
  height: 55px;
  font-size: 20px;
  border-radius: 12px;
  color: whtie;
  font-weight: bold;
  transition: 0.3s;
  margin-bottom: 30px;
  margin-top: 8px;
}

.swapButton[disabled] {
  background: #5F6783;
  opacity: 0.4;
}

.swapButton[disabled]:hover {
  cursor: not-allowed;
}

.swapButton:hover {
  cursor: pointer;
  box-shadow: 1px 1px 1px #6C36FF;
}

.tokenLogo {
  height: 40px;
  width: 40px;
}

.modalContent {
  border-top: 1px solid #363e54;
  /* padding-top: 20px; */
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px
}

.tokenChoice {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tokenChoice:hover {
  cursor: pointer;
  background-color: #ececf1;
}

.tokenName {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 500;
}

.tokenTicker {
  margin-left: 10px;
  font-size: 13px;
  font-weight: 300;
  color: #51596f; 
}
